.card{
    border: 1px solid gray;
    width: 70%;
    height: 55%;

}
.courcePic{
    width: 100%;
    height: 50%;
}
.card h2{
    margin: 20px 0px 5px 10px ;
}
.card p{
    margin:  0  10px;
}
.card button{
    background-color: blue;
    border: unset;
    color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 50px 10px;
    cursor: pointer;
}